body{
    font-family: Georgia, 'Times New Roman', Times, serif
}
.img{
    opacity: .40;
}
.container {
    position: relative;
    text-align: center;
    color: #cc444a;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-body {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #f7c244;
}
.footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
